@media (max-width:991px)
{
   * 
   {
      padding: 0;
      margin: 0;
   }

   body
   {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 800px;
      background: linear-gradient(45deg, #198754, dodgerblue);
      background-attachment: fixed;
      background-repeat: no-repeat;
   }

   #letreiro 
   {
      background-image: url(imagens/background.PNG);
      background-size: cover;
      background-repeat: no-repeat;
      width: 300px;
      height: 300px;
      border-radius: 5px;
   }

   .capa 
   {
      background-color: rgba(0,0,0,0.4);
      border-radius: 5px;
   }

   .card 
   {
      width: 300px;
      height: 300px !important;
      position: relative;
      top: -1.5rem;
   }

   .card-body 
   {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .card-body input, button
   {
      margin-bottom: .5rem;
      padding: 5px;
   }

   button 
   {
      width: 100%;
   }

}

@media (min-width:992px)
{
   * 
   {
      padding: 0;
      margin: 0;
   }

  body
   {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      background: linear-gradient(45deg, #198754, dodgerblue);
      background-attachment: fixed;
      background-repeat: no-repeat;
   }

   #letreiro 
   {
      background-image: url(imagens/background.PNG);
      background-size: cover;
      background-repeat: no-repeat;
      width: 600px;
      height: 400px;
      border-radius: 5px;
   }

   .capa 
   {
      background-color: rgba(0,0,0,0.4);
      border-radius: 5px;
   }

   .card 
   {
      width: 300px;
      height: 400px !important;
      position: relative;
      left: -2rem;
   }

   .card-body 
   {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .card-body input, button
   {
      margin-bottom: .5rem;
      padding: 5px;
   }

   button 
   {
      width: 100%;
   }

   

   
}